html, body, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

body {
  background-color: #1da64a;
}

.viewport {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.page {
  margin: 0 auto 0 auto;
  background-color: #ffffff;
  max-width: 600px;
  font-size: 16px;
  font-family: "Jost", "Arial";
}

.section {
  padding: 16px;
  border-style: none none solid none;
  border-width: 1px;
  border-color: #1da64a;
  text-align: center;
}

.section:last-of-type {
  border-style: none;
}

header {
  display: table;
  table-layout: auto;
  box-sizing: border-box;
  width: 100%;
  background-color: #0f5325;
  background-size: cover;
  background-image: url(demo.jpg);
}

header > * {
  display: table-cell;
}

header > .logo {
  vertical-align: top;
  margin-right: 16px;
}

header > h1 {
  vertical-align: middle;
  padding-top: 3px;
  color: #ffffff;
}

h1 {
  text-transform: uppercase;
  font-size: 24px;
}

h2 {
  font-size: 24px;
  margin: 0 0 16px;
  padding: 0;
  line-height: 1em;
}

p {
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 1.4em;
}

a {
  text-decoration: none;
  color: #46a64b;
}

.icon-list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0 -8px;
}

.icon-list > li {
  display: inline-block;
}

.button-list {
  display: flex;
  justify-content: center;
  margin: 0 -8px;
  padding: 0;
  flex-wrap: wrap;
}

.button-list > li {
  display: inline-block;
  margin: 16px 8px 0;
}

.button-list > li > a {
  padding: 8px 16px;
  display: block;
  background-color: #46a64b;
  color: #ffffff;
}

.map-section {
  height: 49px;
  position: relative;
}

.map-modal {
  position: relative;
  left: 0;
  top: 0;
  transform: translate(0, 0);
  width: calc(100% + 32px);
  height: calc(100% + 32px);
  margin: -16px;
  overflow: hidden;
}

.map-section.pre-active .map-modal {
  position: fixed;
  margin: 0;
  overflow: hidden;
}

.map-section.active .map-modal {
  width: 100vw;
  height: 100vh;
}

.map-section.trans-active-in .map-modal {
  transition-property: transform, width, height;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}

.map-section.trans-active-out .map-modal {
  transition-property: transform, width, height;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.map {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(calc((600px - 100vw) / 2), -276px);
  /* width: 600px; */
  width: 100vw;
  height: 100vh;
}

.map-section.trans-active-in .map {
  transition: transform 300ms ease-in;
}

.map-section.trans-active-out .map {
  transition: transform 300ms ease-out;
}

.map-section.active .map {
  transform: translate(0, 0);
}

.map-control {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

.map-section.trans-active-in .map-control {
  transition: width 300ms ease-in;
}

.map-section.trans-active-out .map-control {
  transition: width 300ms ease-out;
}

.map-section.active .map-control {
  width: 48px;
}

.show-map, .hide-map {
  transition: opacity 300ms linear;
  overflow: hidden;
  white-space: nowrap;
}

.map-section.trans-active .show-map, .map-section.trans-active .hide-map {
  transition: opacity 300ms linear;
}

.show-map {
  position: absolute;
  display: block;
  line-height: 1em;
  text-align: center;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 16px;
  box-sizing: border-box;
  color: #ffffff;
  opacity: 1;
}

.map-section.active .show-map {
  opacity: 0;
}

.map-section.intra-active .show-map {
  visibility: hidden;
}

.hide-map {
  display: block;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 16px;
  text-align: center;
  display: block;
  font-size: 24px;
  font-family: "Jost", "Arial";
  box-sizing: border-box;
  line-height: 16px;
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
}

.map-section.circum-active .hide-map {
  visibility: visible;
}

.map-section.active .hide-map {
  opacity: 1;
}


@media only screen and (min-height: 696px) {
  .map-section.trans-active-in {
    transition: height 300ms ease-in;
  }
  
  .map-section.trans-active-out {
    transition: height 300ms ease-out;
  }
  
  .map-section.active {
    height: 600px;
  }
  
  .map-modal {
    position: relative !important;
    transform: translate(0, 0) !important;
    width: calc(100% + 32px) !important;
    height: calc(100% + 32px) !important;
    margin: -16px !important;
  }
  
  .map {
    max-width: 600px;
    height: 600px;
    transform: translate(0, -276px);
  }
}
