html, body, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

body {
  background-color: #1da64a;
}

.viewport {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.page {
  margin: 0 auto 0 auto;
  background-color: #ffffff;
  max-width: 800px;
  font-size: 16px;
  font-family: "Jost", "Arial";
}

.section {
  padding: 16px;
  border-style: none none solid none;
  border-width: 1px;
  border-color: #1da64a;
  text-align: center;
}

.section:last-of-type {
  border-style: none;
}

header {
  display: table;
  table-layout: auto;
  box-sizing: border-box;
  width: 100%;
  background-color: #0f5325;
  background-size: cover;
  background-image: url(demo.jpg);
}

header > * {
  display: table-cell;
}

header > .logo {
  vertical-align: top;
  margin-right: 16px;
}

header > h1 {
  vertical-align: middle;
  padding-top: 3px;
  color: #ffffff;
}

h1 {
  text-transform: uppercase;
  font-size: 24px;
}

h2 {
  font-size: 24px;
  margin: 0 0 16px;
  padding: 0;
  line-height: 1em;
}

p {
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 1.4em;
}

a {
  text-decoration: none;
  color: #46a64b;
}

.icon-list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0 -8px;
}

.icon-list > li {
  display: inline-block;
}

.button-list {
  display: flex;
  justify-content: center;
  margin: 0 -8px;
  padding: 0;
  flex-wrap: wrap;
}

.button-list > li {
  display: inline-block;
  margin: 16px 8px 0;
}

.button-list > li > a {
  padding: 8px 16px;
  display: block;
  background-color: #46a64b;
  color: #ffffff;
}

.map-section {
  transition: height 300ms ease-in-out;
  background-image: url("./map-dark.png");
  background-size: cover;
  height: 49px;
}

.show-map {
  display: block;
  line-height: 1em;
  text-align: center;
  margin: -16px;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  color: #ffffff;
  transition: transform 300ms ease-out;
  width: calc(100% + 32px);
}

.map-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  transition-property: none;
  overflow: hidden;
}

.map-container > div {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 96px;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hide-map {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 16px;
  text-align: center;
  display: block;
  font-size: 24px;
  font-family: "Jost", "Arial";
  box-sizing: border-box;
  line-height: 16px;
  color: #ffffff;
}
